    <div class="container container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 p-4 border border-primary rounded lightBlue">
          <h2 id="blogname">{{name}}</h2>
          <p id="description">{{description}}</p>
          <p>Created by <span id="username">{{user.name}}</span>on <span id="date">{{format_date date_created}}</span></p>
    
          <div class="border-primary rounded lightBlue">
            <form class="comment-form d-flex">
              <div class="form-group flex-grow-1 mr-2">
                <textarea class="form-control" id="comment" placeholder="Write a comment"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<script src="./js/blog.js"></script>