    <div class="container container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 p-4 border border-primary rounded lightBlue">
          <h2>Edit Post</h2>

          <label for="newTitle">Title:</label>
          <textarea class="form-control" id="editTitle" data-id="{{id}}"></textarea>


          <label for="newContent">Content:</label>
          <textarea class="form-control" id="editContent" data-id="{{id}}"></textarea>

          <button class="btn btn-primary" id="editBtn" data-id="{{id}}">Edit</button>

        </div>
      </div>
    </div>
<script src="/js/editBlog.js"></script>