


    <div class="container container-fluid d-flex align-items-center justify-content-center bg-danger vh-100">
        <div class="row justify-content-center">
            <div class="col-12 p-4 border border-primary rounded text-center row gap-4">
                <h1>Tech Blog</h1>
                <button class="btn btn-primary" id="logninBtn">Login</button>
                <button class="btn btn-primary" id="signupBtn">Sign Up</button>
            </div>
        </div>
    </div>